<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container py-4">
        <div class="card container teal py-4" align="center">
          <h2 style="color:black">Crear Rol</h2>
        </div>
    <form class="card container text" align="center" action="/add_rol" method="post">
        {% csrf_token %}
        <label for="" style="font-size:20px">Ingrese el nombre del rol</label>
        <input type="text" style="font-size:20px" id="nombre" name="nombre" placeholder="Ingrese el nombre del rol" required>
        <br>
        <label for="" style="font-size:20px">Seleccione los permisos asociados</label>
        <select name="permisos" multiple>
            {% for perm in permisos %}
            <option value={{perm.id}}> {{perm.id}}  {{perm.nombre}} </option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit" class="waves-effect waves light btn-large">Registrar</button>
    </form>
    </div>
</body>
</html>