<!doctype html>
<html lang="en">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


<head>
</head>
<body>





    {% if user.is_authenticated %}
    <div class="container py-4">
      <div class="card container py-4 bg-info"  align="center">
      <h3> Bienvenido {{nombre}}</h3>
      <h4>Has ingresado correctamente</h4> <br>
      <button type="submit" class="btn waves-effect waves btn-large"><a style="color:black;" href="seguridad">Modulo de Seguridad</a> </button>
      <button type="submit" class="btn waves-effect waves btn-large"><a style="color:black;" href="gestion_proyectos">Modulo de Proyectos</a> </button>
      <button type="submit" class="btn waves-effect waves btn-large"><a style="color:black;" href="#">Modulo de Dashboards</a> </button>
      <button type="submit" class="btn waves-effect waves"><a style="color:white;" href="/salida">Salir</a> </button>
    </div>
    </div>

    {% else %}
    <div class="container py-4">
      <div class="card container py-4"  align="center">
        <h3>Bienvenido al sistema</h3> <br>
        <button type="submit" class="btn waves-effect waves btn-large"><a style="color:white" href="/ingreso">Ingresar</a></button>
      </div>
    </div>
    {% endif %}

</body>
</html>