<!doctype html>
<html lang="en">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


<head>
    <title>Ingreso</title>
</head>
<body>
    <div class="container py-4">
      <div class="card container teal py-4" align="center">
        <h2 style="color:white">Login</h2>
      </div>
      <form class="card container text center" align="center" action="/ingreso" method="post">
          {% csrf_token %}
          <label for="" style="font-size:20px">Usuario</label>
          <input type="text" id="usuario" name="usuario" placeholder="Ingresa tu nombre de usuario" required>
          <br>
          <label for="" style="font-size:20px">Contraseña</label>
          <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña" required>
          <br>
          <button type="submit" class="waves-effect waves light btn-large">Ingresar</button>
      </form>
    </div>
</body>
</html>