<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de Permisos</title>
</head>
<body>
    <h1>GESTION DE PERMISOS</h1>
    <table>
    <thead>
        <th>ID del permiso</th>
        <th>Modulo del permiso</th>
        <th>Nombre del permiso</th>
        <th>Formularios asociados</th>
        {% block content %}
        <th>Acciones</th>
    </thead>
        {% for permiso in lista_permisos %}
    <tr>
        <td> {{ permiso.id }}</td>
        <td> {{ permiso.modulo }} </td>
        <td> {{ permiso.nombre }} </td>
        <td> {{ permiso.id_formulario.id }}  -  {{ permiso.id_formulario.nombre }}</td>
        <td> <form action="/alterar_permiso" method="POST">
            {% csrf_token %}
             <input type="hidden" id="permis" name="permis" value={{ permiso.id }}>
            <button type="submit" name="mod">Modificar</button>
            <button type="submit" name="del">Eliminar</button>
            </form>
        </td>
        <br>
    </tr>
        {% endfor %}
    </table>
    <br><br><br>
    <button type="submit"><a href="add_permiso">Crear Permiso</a> </button><br><br><br>
    <button type="submit"><a href="seguridad">Atrás</a> </button>
{% endblock %}
</body>
</html>