<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>grupo7</title>
</head>
<body>



    <div class="container py-4">
    <div class="card container py-4" align="center">
    <h4>MODULO DE SEGURIDAD</h4><br>

	<table>
        <tr>
            <button type="submit" class="btn waves-effect waves btn-large"><a style="color:white;" href="gestion_usuarios">Gestion de Usuarios</a></button>
        </tr>
        <br><br><br>
        <tr>
            <button type="submit" class="btn waves-effect waves btn-large"><a style="color:white;" href="gestion_permisos">Gestion de Permisos</a></button>
        </tr>
        <br><br><br>
        <tr>
            <button type="submit" class="btn waves-effect waves btn-large"><a style="color:white;" href="gestion_roles">Gestion de Roles</a></button>
        </tr>
        <br><br><br>
        <button type="submit" class="btn waves-effect waves"><a style="color:white;" href="inicio">Atrás</a> </button>
    </table>
        <br><br><br>
    </div>
    </div>
</body>
</html>