<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
    <div class="w3-container py-4">
        <div class="card container py-4" align="center">
            <h2 style="color:black">{{ backlog.nombre }}</h2>
        </div>
    </div>
    <h4>Lista de sprints dentro del backlog</h4><br>
    <div class="w3-container">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <th>Sprint</th>
                <th>Estado</th>
                <th>Fecha de inicio</th>
                <th>Acciones</th>
            </thead>
            {% for sp in sprints.all%}
            <tr>
                <td> {{sp.id}} </td>
                <td> {{sp.estado}} </td>
                <td> {{sp.fecha_inicio}} </td>
                <td><form action="/ver_sprint" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="sp" name="sp" value={{ sp.id }}>
                        <input type="hidden" id="back" name="back" value={{ backlog.id }}>
                        <button type="submit" name="mod">Abrir Sprint</button>
                </form></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="w3-container">
        <br><br>
        <form action="/add_sp" method="get">
            {% csrf_token %}
            <input type="hidden" id="backl" name="backl" value={{ backlog.id }}>
            <button type="submit">Crear Sprint</button>
        </form>
        <br>
        <form action="/ver_proyecto" method="post">
            {% csrf_token %}
            <input type="hidden" id="proyecto" name="proyecto" value={{ backlog.proyecto.id }}>
            <button type="submit">Atras</button><br><br><br>
    </form>
    </div>
</body>
</html>