<!DOCTYPE html>
<html lang="en">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Gestion de Permisos</title>
</head>
<body>
    <div class="w3-container py-4">
        <div class="card container py-4" align="center">
            <h2 style="color:black">GESTION DE PERMISOS</h2>
        </div>
    </div>
    <div class="w3-container">
        <table  class="w3-table-all w3-hoverable">
            <thead>
                <th>ID del permiso</th>
                <th>Modulo del permiso</th>
                <th>Nombre del permiso</th>
                <th>Formularios asociados</th>
                {% block content %}
                <th>Acciones</th>
            </thead>
                {% for permiso in lista_permisos %}
            <tr>
                <td> {{ permiso.id }}</td>
                <td> {{ permiso.modulo }} </td>
                <td> {{ permiso.nombre }} </td>
                <td> {{ permiso.id_formulario.id }}  -  {{ permiso.id_formulario.nombre }}</td>
                <td> <form action="/alterar_permiso" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="permis" name="permis" value={{ permiso.id }}>
                    <button type="submit" name="mod">Modificar</button>
                    <button type="submit" name="del">Eliminar</button>
                    </form>
                </td>
                <br>
            </tr>
                {% endfor %}
        </table>
    </div>
    <div class="w3-container">
        <br><br>
        <button type="submit"><a href="add_permiso">Crear Permiso</a> </button><br><br><br>
        <button type="submit"><a href="seguridad">Atrás</a> </button>
    </div>
{% endblock %}
</body>
</html>